@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root{
	--info: #07C4D4;
	--info-hover: #0BA9B6;
	--dark: #010205;
	--light: #FFFFFF;
	--blue: #5FA2FF;
	--blue-hover: #1657B0;
}


::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track{
	background-color: var(--dark);
}

::-webkit-scrollbar-thumb{
	background-color: var(--info);
}

::-webkit-scrollbar-thumb:hover{
	background-color: var(--info-hover);
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	list-style: none;
	text-decoration: none;
	outline-offset: none;
	font-family: "Roboto", sans-serif;
}

.nav_logo{
	margin-left: 3rem;
}

.nav_logo_img{
    height: 35px;
}

.add_shop{
    margin-right: 90px;
}

.add_shop_bag{
    font-size: 20px;
}

.nav_collaps .navbar_ul{
	/* padding-right: 20px; */
	margin-bottom: 0;
	transition: all .3s;
}

.navbar_positipon{
	position: sticky;
	top: 0;
    background-color: white;
	box-shadow: 0 1px 10px lightgray;
    z-index: 99;
}

.navbar_li{
	margin-right: 40px;
}

.navbar_li_a{
	padding: 8px;
	border-radius: 10px;
	font-weight: 700;
	transition: all .3s;
	position: relative;
}

.navbar_li_a::after{
	position: absolute;
	left: 3px;
	bottom: 5px;
	content: "";
	width: 100%;
	height: 3px;
	background-color: var(--dark);
	transform: scale(0);
	transition: transform .4s;
	transform-origin: right;
}

.navbar_li_a:hover::after{
	transform: scale(1);
	transform-origin: left;
}

.nav_collaps{
	position: relative;
}

.menu{
	height: 25px;
	width: 30px;
	background-color: transparent;
	position: relative;
	display: none;
	right: 15px;
}

.menu::before{
	content: "";
	height: 3px;
	width: 100%;
	background-color: var(--dark);
	position: absolute;
	top: 0;
	transition: all .3s;
}

.menu::after{
	content: "";
	height: 3px;
	width: 100%;
	background-color: var(--dark);
	position: absolute;
	bottom: 0;
	transition: all .5s;
}

.menu .middle_bar{
	height: 3px;
	width: 100%;
	background-color: var(--dark);
	position: absolute;
	top: 45%;
	transition: all .3s;
}

.menu.active.menu::after{
	width: 90%;
	transform: rotate(-45deg) translate(8px, -4px);
}

.menu.active.menu::before{
	width: 90%;
	transform: rotate(45deg) translate(11px, 8px);
}

.menu.active .middle_bar{
	display: none;
}

@media screen and (max-width:870px){
	.navbar_li_a{
		padding: 5px;
	}

	.navbar_li{
		margin-right: 30px;
	}
}

@media screen and (max-width:768px){

    .nav_logo{
		margin-left: 1.4rem;
	}

	.nav_collaps .navbar_ul{
		background-color: var(--light);
		display: inline-block;
		line-height: 40px;
		opacity: 0;
		position: absolute;
		padding: 0;
		padding: 10px 0;
		right: 0;
		transform: translateX(0px);
		text-align: center;
		top: 100%;
		width: 70px;
		visibility: hidden;
	}


	.navbar_ul .navbar_li{
		margin-right: 0;
	}


	.menu{
		position: absolute;
		display: block;
	}


	.small.navbar_ul{
		display: block;
		right: 0;
		top: 100%;
		transform: translateX(0px);
		opacity: 1;
		visibility: visible;
		width: 100%;
	}

    .add_shop{
        margin-right: 90px;
    }
	
}

@media screen and (max-width:425px){
	.nav_logo{
		margin-left: 10px;
	}

	.menu{
		right: 0;
	}

    .add_shop{
        margin-right: 70px;
    }

    .home_section .home_section_content{
        margin-left: 1.5rem;
    }
}


/* =====================   home section start   ====================== */

.home_section{
    background-image: url(./images/hero4.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    line-height: 5px;
}

.home_section_content{
    height: 300px;
    width: 350px;
    margin-left: 3rem;
    margin-top: 130px;
}

.home_section_content .home_section_h3{
    font-size: 16px;
    margin-bottom: 5px;
    color: #8a8a8a;
}

.home_section_content .home_section_h2{
    color: #068e9b;
    font-size: 30px;
}

.home_section_content .home_section_h1{
    font-size: 35px;
    margin-bottom: 0;
}

.home_section_content .home_section_p{
    font-size: 12px;
    color: rgb(153, 152, 151);
}

.home_section_btn{
    padding: 15px;
    border: 2px solid rgb(243, 141, 8);
    transition: all .3s;
    margin-top: 10px;
}

.home_section_btn:hover{
    background-color: rgb(243, 141, 8);
    color: rgb(255, 254, 253);
}

@media screen and (max-width:530px){
    .home_section_content .home_section_h1{
        font-size: 28px;
    }

    .home_section_content .home_section_h2{
        font-size: 20px;
    }

    .home_section_content{
        width: 270px;
    }
    
}

@media screen and (max-width:768px){
    .home_section{
        height: 350px;
    }
}

@media screen and (max-width:425px){
    .home_section{
        height: 280px;
    }

    .home_section .home_section_content{
        margin-top: 60px;
        margin-left: 0;
    }
}

@media screen and (max-width:375px){
    .home_section{
        height: 250px;
    }

    .home_section_content .home_section_h3{
        font-size: 10px;
    }
    
    .home_section_content .home_section_h2{
        font-size: 15px;
    }
    
    .home_section_content .home_section_h1{
        font-size: 20px;
    }
    
    .home_section_content .home_section_p{
        font-size: 10px;
    }
    
    .home_section_btn{
        padding: 12px;
        font-size: 15px;
        font-weight: bold;
        border: 2px solid rgb(243, 141, 8);
        transition: all .3s;
        margin-top: 10px;
    }
}



/*================== features section start ====================*/

.features_section{
    display: flex;
    align-items: center;
}

.features_col_one{
    border: 2px solid lightgray;
    height: 180px;
    margin: 5px;
    text-align: center;
    padding-top: 12px;
    border-radius: 5px;
}

.features_image{
    margin-bottom: 10px;
}

.features_p{
    background-color: rgb(252, 223, 150);
    width: 80%;
    padding: 5px;
    margin: 0 auto;
}

@media screen and (max-width:1200px){
    .features_col_one{
        width: fit-content;
    }
}

@media screen and (max-width:990px){
    .features_col_one{
        width: auto;
    }
}


/* ===================  products card section start  ================== */

.products_card_section{
    margin-bottom: 60px;
}

.products_card_section_title{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.products_card_section_title_p{
    font-size: 12px;
    color: #9e9d9d;
}

.card_bottom{
    display: flex;
    justify-content: space-between;
}

.adidas{
    font-size: 12px;
    color: #9e9d9d;
}

.card_img_h{
    height: 240px;
}

@media screen and (max-width:578px){
    .card_img_h{
        height: auto;
    }

    .clasic_dress_cards{
        display: block;
    }

    .clasic_dress_card{
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width:425px){
    
    .products_card_section_title_p{
        font-size: 10px;
    }

    .products_card_section_title_h2{
        margin-bottom: 0;
    }

    .products_card_section{
        margin-bottom: 30px;
    }
}


/* ==========================  accessories section star  ============================ */

.accessories_section{
    background-image: url(./images/banner/b2.jpg);
    background-size: cover;
    background-position: center;
    padding: 45px;
    color: rgb(252, 252, 252);
    text-align: center;
    margin-bottom: 50px;
}

.accessories_section_btn{
    width: 150px;
    padding: 8px;
    border-radius: 5px;
    margin: 0 auto;
    border: 0;
    transition: all .3s;
}

.accessories_section_btn:hover{
    background-color: rgb(196, 193, 193);
}

.accessories_h2_color{
    color: red;
}

.accessories_section_h2{
    margin-bottom: 30px;
}

.accessories_section_p{
    margin-bottom: 5px;
}

@media screen and (max-width:425px){
    .accessories_section{
        margin-bottom: 30px;
    }

    .accessories_section_h2{
        font-size: 20px;
    }

    .accessories_section_btn{
        width: 120px;
        padding: 5px;
        font-size: 15px;
    }

    .accessories_section{
        padding: 20px;
    }

    .accessories_section_h2{
        margin-bottom: 15px;
    }
}

/* =====================  New Arrivals section start  ======================= */

.new_arrivals_section{
    margin-bottom: 50px;
}

@media screen and (max-width:425px){
    .new_arrivals_section{
        margin-bottom: 30px;
    }

}


/* ===========================  clasic dress section start  ============================== */

.clasic_dress_section{
    margin-bottom: 50px;
}


.clasic_dress_card_one{
    background-image: url(./images/banner/b17.jpg);
    background-position: center;
    background-size: cover;
}

.clasic_dress_card_two{
    background-image: url(./images/banner/b10.jpg);
    background-position: center;
    background-size: cover;
}

.clasic_dress_card{
    padding: 40px 20px;
    color: white;
}

.clasic_dress_content_btn{
    border: 2px solid #0BA9B6;
    padding: 6px 15px;
    color: white;
    transition: all .3s;
    background-color: transparent;
}

.clasic_dress_card:hover .clasic_dress_content_btn{
    background-color: #0BA9B6;
}


@media screen and (max-width:768px){
    .clasic_dress_h2{
        font-size: 20px;
    }

    .clasic_dress_p_two{
        font-size: 12px;
    }

    .clasic_dress_p_one{
        font-size: 12px;
    }
}

@media screen and (max-width:425px){
    .clasic_dress_section{
        margin-bottom: 30px;
    }

}


/* =======================  seasonal section start  ============================ */

.seasonal_section{
    margin-bottom: 50px;
    color: white;
}

.seasonal_card{
    background-position: center;
    background-size: cover;
    padding: 60px 20px;
}

.seasonal_card_one{
    background-image: url(./images/banner/b7.jpg);
}

.seasonal_card_two{
    margin-right: 5px;
    margin-left: 5px;
    background-image: url(./images/banner/b4.jpg);
}

.seasonal_card_three{
    background-image: url(./images/banner/b18.jpg);
}


@media screen and (max-width:578px){
    .seasonal_cards_all{
        display: block;
    }

    .seasonal_card_two{
        margin: 5px 0 5px 0;
    }
}

@media screen and (max-width:425px){
    .seasonal_section{
        margin-bottom: 30px;
    }
}


/* =========================  Sign-up section start  ============================ */

.signup_section{
    background-image: url(./images/banner/b1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    padding: 20px;
}

.signup_section_b{
    padding: 40px 0;
}

.signup_section_content{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.signup_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.input-wrapper {
    display: flex;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
  }

  .input-wrapper input[type="email"] {
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
  }
  

  .input-wrapper .signup_btn {
    background-color: #00bfa5;
    border: none;
    padding: 15px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
  }

  .input-wrapper .signup_btn:hover {
    background-color: #009f87;
  }




@media screen and (max-width:425px){
    .input-wrapper input[type="email"]{
        width: 70%;
        font-size: 12px;
    }

    .input-wrapper .signup_btn{
        width: 30%;
        font-size: 11px;
        padding: 14px;
    }

    .signup_section{
        margin-bottom: 30px;
    }

    .signup_section{
        padding: 0;
    }

    .signup_container{
        height: 5vh;
    }

    .signup_container .input-wrapper{
        display: flex;
        align-items: center;
        height: 38px;
        width: 100%;
    }

    .signup_section_b{
        padding: 30px 0;
        line-height: 15px;
        
    }

    .signup_section_b .signup_section_content{
        row-gap: 30px;
    }

    .signup_content_left{
        padding: 0 15px;
    }
}

@media screen and (max-width:768px){
    .signup_section_content{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        text-align: center;
    }

    .signup_container{
        height: 10vh;
    }

  .input-wrapper {
    height: 45px;
    align-items: center;
  }
    
}


/* ======================  footer section start  ======================= */

.download{
    border: 2px solid gray;
    padding: 17px 0;
}

.download:hover{
    border-color: #a5b106;
}

.copyright_check{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    height: 60px;
}

.secured_pay{
    width: -webkit-fill-available;
    height: auto;
}

.download_all{
    margin-top: 18px;
}



@media screen and (max-width:425px){
    .footer_row{
        display: block;
        /* width: 100%; */
    }

    .download_all .download{
        margin: 0;
    }

    .download.apple_store{
        margin-right: 5px;
    }

    .footer_col{
        width: 100%;
        margin-top: 20px;
    }

    .footer_col_install_app{
        width: 100%;
        text-align: center;
    }

    .download_img{
        width: 95px;
        height: 28px;
    }

    .copyright_check_p{
        font-size: 12px;
    }

    .download_all{
        justify-content: center;
    }
}

@media screen and (max-width:1024px){
    .download_all{
        display: flex;
        flex-wrap: wrap;
    }

    .download{
        padding: 0 0;
        margin-right: 5px;
    }

    .download_img{
        width: 110px;
        height: 35px;
    }
}

@media screen and (max-width:768px){
    .download{
        margin-top: 5px;
    }
}